<section ng-if='wideModalOn' class="modal-cont">



    <section class="wide-modal-box">

        <section class="modal-nav">

            <div class="icon-times-circle close-mod-white" ng-click="modalOff()"></div>

        </section>


      <ui-view></ui-view>



    </section>

    <section class="modalCurtain" ng-click="modalOff()">


    </section>

</section>

<section ng-if='thinModalOn' class="modal-cont">


    <section class="thin-modal-box">

        <section class="modal-nav">

            <div class="icon-times-circle close-mod-blue" ng-click="modalOff()"></div>

        </section>


      <ui-view></ui-view>



    </section>

    <section class="modalCurtain" ng-click="modalOff()">


    </section>

</section>
