@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,600);

$font1: Work Sans, sans-serif;
$white: #fff;
$teal: #14bfc8;
$dgrey: #3c3d3c;
$lgrey: #dedede;
$dblue: #2d556e;
$orange: #ffa027;


html, body{
  max-width: 100%;
  overflow-x: hidden;
}
