@import 'main';

  ng-map{
    height: 72vh;
    width: 65%;
  }
.vehicle-location-view{
  display: flex;
  flex-direction: row;
.location-left{
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 72vh;

  background: $dblue;

}
  .location-header{

    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    input{
      border: none;
      background: none;
      color: $white;
      font-size: 20px;
    }
    input:focus {
      outline: none;
      border: none;
  }
    .icon-caret-up-down{
      font-size: 20px;
      color: $white;
    }
  }

.vehicle-locations{
  height: 100%;
  width: auto;


  overflow-y: scroll;

ul{
  display: flex;
  flex-direction: column;

  li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    color: $white;
    font-family: $font1;

    border-bottom: 1px $lgrey solid;
    }
  li:hover{
    background: $orange;
  }
  }
}
}
