<modal-dir></modal-dir>
<header>
  <div class="logo-cont">
      <section  class="logo">
      </section>
  </div>
</header>

<section class="admin-body">

<section class="top">
  <button class="add-button" ng-click="adminNewUserModal()" type="button" >Add New User</button>
  <input type="text" ng-model="searched" placeholder="search user...">

</section>

  <div class="admin-title">
    <h1>Users</h1>

  </div>

<ul ng-repeat="user in users | filter: searched track by $index">
  <div class="admin-user-list">
    <div class="">
      <li ng-click="itemSelected($index)">
          <b>{{user.name}}</b>
          <br>
          {{user.email}}
    </div>
    <button type="button" ng-show="$index === selected" ng-click="deleteUser($index)">Delete User</button>
    <button type="button" ng-show="$index === selected" ng-click="showUser($index)">Show Vehicles</button>
    <button type="button" ng-show="$index === selected" ng-click="updateUser($index)">Update User</button>

    <div class="icon-truck"> {{user.vehicles.length}} </div>

    </li>

  </div>



</ul>
</section>
