
<section class="signup-cont">

  <section class="signup-top">

    <h3>SIGN IN</h3>

<form ng-submit="login(user)">

    <div class="signin-input">
        <div class="icon-user signin-user-icon"></div>
        <input ng-model="user.email" type="email" name="name"  placeholder="Email"></input>
    </div>

    <div class="signin-input">
        <div class="icon-key signin-key-icon"></div>
        <input ng-model="user.password" type="password" name="name"  placeholder="Password"></input>
    </div>

    <button type="submit" name="button">SIGN IN</button>
</form>
  </section>

  <section class="signup-bottom">

    <p>
      Don't have an account? <span ui-sref = "welcome.signup">Create one now</span>
    </p>

  </section>

  <section>

  </section>

</section>
