<section class="signup-cont">

    <section class="signup-top">

        <h3>SIGN UP</h3>

        <form ng-submit="signUp(user)">

        <div class="signin-input">
            <div class="icon-user signin-user-icon"></div>
            <input ng-model="user.name" type="input" name="name" placeholder="name"></input>
        </div>

        <div class="signin-input">
            <div class="icon-call-phone signin-user-icon"></div>
            <input ng-model="user.phoneNumber" type="number" name="name" placeholder="number"></input>
            <div>{{notANumber}}</div>
        </div>

        <div class="signin-input">
            <div class="icon-mail signin-user-icon"></div>
            <input ng-model="user.email" type="email" name="name" placeholder="email"></input>
            <div>{{conflict}}</div>
        </div>


        <div class="signin-input">
            <div class="icon-key signin-key-icon"></div>
            <input ng-model="user.password" type="password" name="name" placeholder="password"></input>
            <div>{{notANumber}}</div>
        </div>


        <button type="submit" name="button">SIGN UP</button>
      </form>
    </section>

    <section class="signup-bottom">

        <p>
            Already have an account? <span ui-sref="welcome.login">Sign In Now</span>
        </p>

    </section>

    <section>

    </section>

</section>
