CURRENT NAME:{{selectedUser.name}} <input type='text' ng-model="name" placeholder="NEW NAME"><br>
CURRENT PHONE NUMBER:{{selectedUser.phoneNumber}} <input type='text' ng-model="phoneNumber" placeholder="NEW PHONE NUMBER"><br>
CURRENT EMAIL:{{selectedUser.email}} <input type='text' ng-model="email" placeholder="NEW EMAIL"><br>
CURRENT PASSWORD:{{selectedUser.password}} <input type='text' ng-model="password" placeholder="NEW PASSWORD"><br>

<button type="button" ng-click="updateUser()">Submit Changes</button>
