<modal-dir></modal-dir>

<section class="user-home-main">

<section class="main-side-menu">
   <div class="side-menu-top">
     <img ui-sref="welcome" src="./LogoTextTeal.png" alt="" />
   </div>
   <div class="side-menu-options">
     <ul>
       <li ng-repeat="vehicle in vehicleArr track by $index" ng-click="vehicleModal($index)" >
         <div class="truck-user-list">
           <div class="icon-car"></div>
           <p>
             {{vehicle.name}}
           </p>
         </div>
         <div class="side-menu-end">
         <section class="car-status">
           <p id="car-active">
             Active
           </p>
         </section>
        <div class="icon-right-open"></div>
        </div>
       </li>

     </ul>
   </div>
<section ui-sref="help" id="foot">

  <div class="userhome-footer">

    <p>Need Help?</p>
  </div>

</section>

</section>

<section class="user-right-section">

  <section class="user-top-menu">

    <div class="dash">
      <h2>Dashboard</h2>
    </div>


    <section class="user-info-cont" ng-click="userInfo()">
      <div class="username">
        <p>
          {{theUser.name.toUpperCase()}}
        </p>
      </div>
      <div class="user-icon">
        <div class="icon-circle-thin">
          <div class="icon-user">

          </div>
        </div>

      </div>
    </section>

  </section>

  <ng-map zoom-to-include-markers="true" icon="./map-marker.png">
    <marker ng-repeat="location in currentLocations track by $index" position="location" on-click="showName(event, $index, location)"></marker>

    <custom-marker class="vehicle-info-marker" position="{{choiceCenter}}" ng-if="choiceOn">

      <div class="marker-cont">

        <div class="marker-desc">
          <p>{{choiceName}}</p>

        </div>


        <div class="marker-tri">

        </div>


      </div>

    </custom-marker>


  </ng-map>

</section>






</section>
