<modal-dir></modal-dir>

<section class="user-home-main">

<section class="main-side-menu">
   <div class="side-menu-top">
     <img ui-sref="welcome" src="./LogoTextTeal.png" alt="" />
   </div>
   <div class="side-menu-options">
     <ul>
       <li ng-repeat="vehicle in vehicleArr track by $index" ng-click="vehicleModal($index)" >
         <div class="truck-user-list">
           <div class="icon-car"></div>
           <p>
             {{vehicle.name}}
           </p>
         </div>
         <div class="side-menu-end">
         <section class="car-status">
           <!-- <p id="car-active">
             Active
           </p>
           <p id="car-off">
             Off
           </p> -->
         </section>
        <div class="icon-right-open"></div>
        </div>
       </li>

     </ul>
   </div>
<section ui-sref="help" id="foot">

  <div class="userhome-footer">

    <p class='regHelp'>Need Help?</p>

    <p class='mobHelp'>Help?</p>

  </div>

</section>

</section>

<section class="user-right-section">

  <section class="user-top-menu">

        <img ui-sref="welcome" class="mobLogo" src="./LogoTextWhiteBlue.png" alt="" />

        <h2 class="dash">Dashboard</h2>




    <section class="user-info-cont" ng-click="userInfo()">

      <div class="username">

        <p>
          {{theUser.name.toUpperCase()}}
        </p>

      </div>


      <div class="user-icon">
        <div class="icon-circle-thin">
          <div class="icon-user"></div>
        </div>
      </div>

    </section>

  </section>

  <ng-map zoom="11" center="[40.74, -74.18]" zoom-to-include-markers="auto" >
    <marker ng-repeat="location in currentLocations track by $index" position="{{location}}" on-click="showDesc(event, $index, pin)" icon="./map-marker.png" ></marker>


    <custom-marker class="vehicle-info-marker"position="{{choiceCenter}}" ng-if="choiceOn">

      <div class="marker-cont">

        <div class="marker-desc">
          <p>{{vehicleArr[$index].name}}</p><br>
        </div>


        <div class="marker-tri">

        </div>


      </div>

    </custom-marker>

    <shape name="polyline"
      path='{{pins}}'
      geodesic="true"
      stroke-color="#4ca64c"
      stroke-opacity="1.0"
      stroke-weight="2">
    </shape>
    </ng-map>



    </section>

</section>
