<section class="vehicle-location-view">
  <section class="location-left">
<section class="location-header">

    <h4>Select Date</h4>

    <datepicker>
      <input ng-model="date" type="text" placeholder="Select Date"/>
    </datepicker>


</section>
<section class="vehicle-locations">
  <ul >
    <li ng-repeat="address in addresses track by $index">
      {{address.time | date: 'shortDate'}}
     {{address.time | date: 'shortTime'}}

      <br>
      {{address.address}}

    </li>
  </ul>
</section>
</section>

  <ng-map zoom='15' center='[40.226209, -111.660947]'>
    <marker ng-repeat="pin in pins track by $index" position="{{pin}}">
      <marker>

        <shape name="polyline"
          path='{{lines}}'
          geodesic="true"
          stroke-color="#ffa027"
          stroke-opacity="1.0"
          stroke-weight="2">
        </shape>
  </ng-map>
</section>
