<section class="vehicle-info-header">

  <section class="vehicle-tab-header">

  <div class="vehicle-name-tab">
<h4>
  {{vehicle.name}}
</h4>
  </div>
  <div ui-sref="help" class="vehicle-name-help-tab">

    <h3>
      Help?
    </h3>

  </div>
</section>

  <section class="vehicle-tabs">

  <div ui-sref="userHome.vehicleInfo.location" ng-click="setTab(1)" ng-class="{active: isSet(1) }">
    <p >
      Location
    </p>
  </div>

  <div  ng-click="setTab(2)" ng-class="{active: isSet(2)}">
<p>
  Behavior
</p>
  </div>
</section>
</section>

  <ui-view>

  </ui-view>
