<section class="vehicle-location-view">
  <section class="location-left">

    <section class="location-header">

        <!-- <div class="icon-calender"></div> -->

        <datepicker date-format="EEE MM/dd/yyyy" selector="form-control">

       <div class="input-group">
           <input class="form-control" placeholder="Choose a date" ng-model="theDate" ng-change="getUserVehicle()" />
           <span class="input-group-addon" style="cursor: pointer">
           <i class="fa fa-lg fa-calendar"></i>
           </span>
    </datepicker>
      </div>
        <div class="icon-caret-up-down reverseBtn"></div>

    </section>

    <section class="vehicle-locations">
      <ul >
        <li ng-repeat="address in addresses track by $index">
        <!-- <li ng-repeat="direction in directions track by $index"> -->

          <div>

            <div class="icon-map-marker"></div>

            <!-- {{address.time | date: 'shortDate'}} -->
            {{address.time | date: 'shortTime'}}

          </div>



          <br>
          <!-- {{direction}} -->

          {{address.address}}

        </li>
      </ul>
    </section>

</section>



  <ng-map zoom='15' center='{{center}}'>
    <marker ng-repeat="pin in pins track by $index" position="{{pin}}">
      <marker>

        <shape name="polyline"
          path='{{pins}}'
          geodesic="true"
          stroke-color="#ffa027"
          stroke-opacity="1.0"
          stroke-weight="2">
        </shape>
  </ng-map>



</section>
