@import "main";

.modalCurtain{

  cursor: pointer;

  width: 100vw;
  height: 100vh;

  position: fixed;
  top:0;
  right: 0;
  z-index: 500;


  background: #333;
  opacity: 0.8;
}

.modal-cont{
  width: 100vw;
  height: 100vh;
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;

  .wide-modal-box{

    background: #fff;
    opacity: 0.99;
    width: 85%;
    height: auto;
    min-height: 80vh;

    border-radius: 5px;

    // position: fixed;
    // top: 7.5%;
    // left: 7.5%;
    z-index: 1000;


  }

  .modal-nav{
    position: relative;
  }

  .close-mod-blue{
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 10px;

    color: $dblue;
    font-size: 30px;
  }

  .close-mod-white{
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 10px;

    color: $white;
    font-size: 30px;
  }

  .thin-modal-box{

    background: #fff;
    opacity: 0.99;
    width: 390px;
    height: 520px;

    border-radius: 3px;

    // position: fixed;
    // top: 15%;
    // left: 35%;
    z-index: 1000;


  }
}
