@import "main";

.privacy-background {
    height: 100vh;
    width: 100vw;
    background-image: url("./car-tire-min.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.privacy-container {

    height: 60vh;
    overflow-y: scroll;

    margin-top: 15vh;

    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 25px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    box-shadow: 0 0 131px 58px rgba(0,0,0,0.4);
    background: rgba(0,0,0,0.35);

    opacity: 0.99;


    h1 {
        color: $white;
        font-size: 40px;
        font-family: $font3;
        text-align: center;
        // border-bottom: 3px solid $teal;


    }

    .title-bar {
        // background-color: $teal;
        border-bottom: 4px solid $teal;
        height: 4px;
        width: 300px;
        margin: 15px;

    }

    p{
      color: $white;
      font-size: 16px;
      font-family: $font3;
      text-align: left;
    }

    ul li {
      color: $white;
      font-size: 16px;
      font-family: $font3;
      text-align: left;
    }
}
