@import "main";

.user-home-main{

  display: flex;
  justify-content: space-between;
}

.main-side-menu{
  height: 100vh;
  width: 25vw;
  min-width: 235px;
  background-color: $dblue;
  // max-width: 305px;

}
.side-menu-top{
  display: flex;
  align-items:center;
  justify-content:flex-start;;

  padding: 20px;


img{
  cursor: pointer;
  width: 80%;
  min-width: 145px;
}
}
.side-menu-options{

  margin-top: 40px;


  ul{
    display: flex;
    flex-direction: column;
    li{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      padding: 10px;
      // border-bottom: 1px $lgrey solid;
      margin-top: 5px;

      transition: 0.2s ease-in-out;

      .truck-user-list{
        display: flex;
        flex-direction: row;
        align-items: center;

        div{
          margin-left: 20px;
          padding-bottom: 5px;
          font-size: 18px;
          color: $white;
          height: 25px;

          display: flex;
          align-items: center;
        }
        p{
          font-family: $font2;
          font-weight: 300;
          color: $white;
          font-size: 17px;
          margin-left: 20px
        }
      }
        .icon-right-open{
          color: $white;

        }

        .side-menu-end{

          display: flex;
          align-items: flex-end;

          .car-status{
            color: $white;
            font-family: $font1;
            font-size: 12px;
            width: 43px;
            text-align: center;

            #car-active{
              background: #4ca64c;
              border-radius: 5px;
              padding: 3px;
            }
            #car-idle{
              background: $orange;
              border-radius: 5px;
              padding: 3px;
            }

            #car-off{
              background: #ff6666;
              border-radius: 5px;
              padding: 3px;
            }

          }

        }


    }
    li:hover{
      background: $teal;
      opacity: 1;
    }
  }
}

#foot{
    position: absolute;
    bottom: 0;
    width: 100%;



  .userhome-footer{
    width: 25vw;
    height: 70px;
    background-color: $dgrey;
    border-top: 10px $orange solid;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;




    opacity: 0.99;

    p{
    font-size: 20px;
    color: $white;
    font-family: $font2;
    }

    .mobHelp{
      display: none;
    }
  }
  .userhome-footer:hover{
    background: $orange;
  }
}




.user-right-section{
  height: 100vh;
  width: 75vw;

  ng-map{
    height: 90vh;
    width: 75vw;
  }



.user-top-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


  height: 77px;
  width: 75vw;
  background-color: $mteal;
  color: $white;
  font-family: $font1;
  cursor: default;

  .mobLogo{
    display: none;

  }

  .dash{
    font-size: 22px;



  }
  .user-info-cont{

    height: 100%;
    width: auto;


    display: flex;
    flex-direction: row;
    align-items: center;


    cursor: pointer;



    .username{

      p{
        margin-top: 5px;
      }

    }
    .user-icon{
      position: relative;
      height: 100%;
      width: 80px;


    .icon-circle-thin{
      position: absolute;
      font-size: 55px;
      right: 15px;
      top: 15%;

      .icon-user{
        position: absolute;
        font-size: 25px;
        right: 15px;
        bottom: 20px;

      }
    }

      }
    }
  }
}
