@import "main";

.loadingSectionVehicle {
  height: 88.1vh;
  width: 85vw;
  display: flex;
  position: absolute;
  background-color: #262626;
  justify-content: center;
  align-items: center;
  z-index: 100;
  .img {
    height: 70vh;
    width: 70vh;
    display: flex;
    justify-content: center;

    color: white;
    font-family: sans-serif;
    font-size: 6vh;
    background-image: url('https://cdn2.scratch.mit.edu/get_image/user/15847905_90x90.png?v=1466382536.57');
    background-size: contain;
    background-repeat: no-repeat;

    span {
      margin-top: 40vh;
    }

  }
}


.vehicle-info-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: $dblue;
    height: auto;
    cursor: default;

    .vehicle-tab-header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      background: $mteal;
      text-align: left;


      button {
        border-radius: 5px;
        background-color: white;
        border-style: outset;
        color: $dblue;
      }

    .vehicle-name-tab {

      // width: 100%;
      // background: $dblue;
      // text-align: left;


      h4{
        font-family: $font2;
        color: $white;
        font-size: 35px;

        padding: 24px 0px 11px 42px;
        display: flex;
        flex-direction: row;


          input {
            font-family: $font2;
            color: black;
            font-size: 30px;
          }
      }
    }
      .vehicle-name-help-tab{

        h3{
          font-family: $font2;
          color: $white;
          font-size: 20px;
          padding: 24px 62px 11px 0px;
          cursor: pointer;


        }
      }

  }


    p {
        font-family: $font2;
        color: $white;
        font-size: 24px;
        text-align: center;

        padding-top: 15px;
        padding-bottom: 15px;
    }


    .vehicle-tabs {
      display: flex;

      justify-content: space-around;
      width: 100%;
      cursor: pointer;



      .tab{
        width: 50%;
      }

      div.active{
        background: $orange;
      }

        div{
          width: 90%;

        }


    }

    // div {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     border: 2px solid $mgrey;
    //     border-bottom: transparent;
    //     width: 100%;
    //     height: 100%;
    // }


}
