@import 'main';

.vehicle-location-view {
    display: flex;
    flex-direction: row;

    .location-left {
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 72vh;
        background: $white;
    }
    .location-header {
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: $mteal;
        cursor: default;


        // .icon-calender {
        //     font-size: 20px;
        //     color: $white;
        // }

        input {
            border: none;
            background: none;
            color: $white;
            font-size: 20px;
            text-align: center;
            cursor: pointer;

        }
        input:focus {
            outline: none;
            border: none;
        }
        button{
          cursor: pointer;

        }
        ::-webkit-input-placeholder {
            color: $white;
        }
        :-moz-placeholder {
            /* Firefox 18- */
            color: $white;
        }
        ::-moz-placeholder {
            /* Firefox 19+ */
            color: $white;
        }
        :-ms-input-placeholder {
            color: $orange;
        }
        .icon-caret-up-down {
            font-size: 20px;
            color: $white;
            cursor: pointer;

        }
    }
    .vehicle-locations {
        height: 100%;
        width: auto;
        overflow-y: scroll;
        ul {
            display: flex;
            flex-direction: column-reverse;

            li {
                height: 80px;

                text-align: center;

                display: flex;
                flex-direction: row;
                align-items: center;

                justify-content: space-around;
                color: $mgrey;
                font-family: $font1;
                border-bottom: 1px $lgrey solid;
                cursor: pointer;

            }
            li:hover {
                background: $orange;
                color: $white;
            }
        }
    }

    ng-map {
        height: 72vh;
        width: 100%;
    }

}
