@import 'main';

.loading {
  height: 100vh;
  width: 100%;
  display: flex;
  position: absolute;
  background-color: #262626;
  justify-content: center;
  align-items: center;

    .img {
      height: 70vh;
      width: 70vh;
      display: flex;
      justify-content: center;

      color: white;
      font-family: sans-serif;
      font-size: 6vh;
      background-image: url('http://i.kinja-img.com/gawker-media/image/upload/krizzghfqegk0fv0g3ey.gif');
      background-size: contain;
      background-repeat: no-repeat;

      span {
        margin-top: 40vh;
      }
    }
}
.welcome-background {
    height: 100vh;
    width: 100vw;
    background-image: url("./birdShit-min.jpeg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.welcome-container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        font-family: $font1;
        font-size: 60px;
        color: $white;
        cursor: default;
        text-shadow: 2px 2px $dgrey;

    }
    .title-bar {
        background-color: $teal;
        height: 4px;
        width: 45%;
        margin: 15px;
    }
    h3 {
        font-family: $font2;
        font-size: 33px;
        color: $white;
        margin-bottom: 30px;
        cursor: default;
        text-shadow: 2px 2px $dgrey;

    }
    .welcome-button-container {

        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
    }

    button {
      cursor: pointer;
        background: $orange;
        color: $white;
        padding: 10px;
        font-size: 17px;
        width: 200px;
        transition: 0.3s;

    }

    button:hover {
        width: 220px;
        font-size: 19px;
        transition: 0.3s;
        background: $teal;
    }
    button:focus {
        outline: 0;
    }
}
.welcome-content {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 131px 58px rgba(0,0,0,0.28);
    background: rgba(0,0,0,0.25);
}
.welcome-footer {
    height: 10vh;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .footer-menu {
        display: flex;
        align-items: center;
        box-shadow: 0 0 131px 58px rgba(0,0,0,0.6);
        background: rgba(0,0,0,0.55);
        ul {
            display: flex;
            flex-direction: row;
        }
        li {
            font-family: $font1;
            color: $white;
            font-size: 30px;
            padding: 6px;
        }
    }
}
.welcome-sloped-cont {

  position: relative;

  .slope-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;
    cursor: default;

    // padding-bottom: 20vh;

    position: absolute;
    top: -116px;
    z-index: 200;

    // transform: rotate(3deg);
    h3 {
        font-family: $font1;
        font-size: 40px;
        color: $white;
        // margin-bottom: 40px;
        margin-top: 10px;
        cursor: default;
        width: 100vw;
        display: flex;
        justify-content: center;


    }
    .slope-content-lower{

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;


      .slope-content-lower-left{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70vw;
        padding-left: 100px;

        p{
          font-family: $font1;
          color: $white;
          font-size: 22px;
          margin-top: 25px;



        }
      }

.slope-content-lower-right{
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;


      .welcome-circle{
        border-radius: 100px;
        height: 200px;
        width: 200px;
        background: $white;
        position: relative;
        box-shadow: 2px 3px 0px 2px rgba(0, 0, 0, 0.4);

        .icon-map{
          color: $teal;
          font-size: 100px;
          position: absolute;
          top: 50px;
          left:50px;

          .icon-map-marker{
            font-size: 30px;
            color: $orange;
          }

          .marker-one{
            position: absolute;
            top: 45px;
            left:70px;
          }
          .marker-two{
            position: absolute;
            top: 13px;
            left:3px;
          }
        }

        .icon-line-chart{
          color: $teal;
          font-size: 100px;
          position: absolute;
          top: 50px;
          left:50px;
        }
      }

    }

    }


  }


    .welcome-sloped {
        margin: 0 -100px;
        background: $teal;
        transform-origin: left center;
        transform: rotate(-3deg);
        // margin-top: -20px;
        height: 35vh;

    }

    .welcome-mid-section{
      height: 100px;
      width: 100%;
      background: $teal;

      margin-top: -140px;
      margin-bottom: -80px;

    }

    .welcome-neg-sloped{
      margin: 0 -100px;
      background: $teal;
      transform-origin: left center;
      transform: rotate(2deg);
      // margin-top: -20px;
      height: 35vh;

    }

    .welcome-bottom-section{
      height: 290px;
      width: 100%;
      background: $teal;

      margin-top: -140px;


    }

}
.welcome-driving {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 100px 100px 100px;
    cursor: default;


    background-image: url('./road-min.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    width: 100vw;

    .driving-content-view{

      margin-top: 80px;
      width: 55%;

      box-shadow: 0 0 131px 58px rgba(0,0,0,0.6);
      background: rgba(0,0,0,0.55);

      .driving-content-header{

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 40vw;

        h3{
          font-family: $font1;
          font-size: 40px;
          color: $white;
          text-align: center;
          // margin-right: 10vw;
        }

        .title-bar {
            background-color: $orange;
            height: 4px;
            width: 45%;
            margin: 15px;
            // margin-right: 10vw;

        }

      }


      p{
        font-family: $font1;
        color: $white;
        font-size: 22px;
        text-align: center;
        margin-top: 25px;
        // margin-right: 10vw;
        width: 40vw;
        line-height: 150%;

      }




    }


    ul{
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 131px 58px rgba(0,0,0,0.6);
      background: rgba(0,0,0,0.55);
      width: 60vw;
      margin-left: 4vw;

      li{
        display: flex;
        flex-direction: row;
        padding: 3px;
        margin: 15px;
        cursor: pointer;
        padding-left: 7vw;

        div{
          color: $teal;
          margin-right: 20px;
          font-size: 30px;
        }

        p{
          font-family: $font1;
          color: $white;
          font-size: 30px;
          border-bottom: transparent 3px solid ;
          display: flex;
          align-items: center;
          text-align: left;
        }
        p:hover {

        }
        // p:after{
        //   display:block;
        //   content: '';
        //   border-bottom: solid 3px $orange;
        //   transform: scaleX(0.0001);
        //   transition: transform 250ms ease-in-out;
        // }
        // p:hover:after {
        //      transform: scaleX(1)
        // }

      }

    }
}
